.subscribe-button {
  background-color: #C80000;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px; 
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
 
}
.subscribe-button:hover{
  opacity: 0.7;
}
.subscribe-button:active{
  opacity: 0.5;
}

.join-button {
  background-color: #FFFFFF;
  border-color: #2976D3;
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  transition: background-color 0.15s, 
  color 0.15s;
  vertical-align: top;
}
.join-button:hover{
  background-color: rgb(41, 118, 211);
  color: #FFFFFF;
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color: #029EFF;
  color: #FFFFFF;
  border-style: none;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.tweet-button:active{
  opacity: 0.8;
}